@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
	        @if(User.IsInRole("StudentsOffice"))
            {
                <li>@Html.ActionLink("Dashboard", "Index", "StudentsOffice")</li>
            }
            @if (User.IsInRole("Administrator"))
            {
                <li>@Html.ActionLink("Admin panel", "Index", "Administration", null, null)</li>
            }
            @if (User.IsInRole("Student"))
            {
                <li>@Html.ActionLink("Dashboard", "Index", "Student", null, null)</li>
            }
            @if (User.IsInRole("Professor"))
            {
                <li>@Html.ActionLink("Dashboard", "Index", "Professor", null, null)</li>
            }
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
