@{
    ViewBag.Title = "Trash";
}

@Html.Partial("_MessagingNavigation")
<h2>@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>Received</th>
                <th>Subject</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (EntityClasses.UserMessage message in ViewBag.Messages)
            {
                string rowStyle = !message.Seen && message.RecepientUsername == User.Identity.Name ? "font-weight:bold;" : "";
                <tr style="@rowStyle">
                    <td>@message.SenderUsername</td>
                    <td>@message.SentOn</td>
                    <td>@message.Subject</td>
                    <td>
                        @Html.ActionLink("Read", "ReadMessage", new { id = message.UserMessageId }) |
                        @Html.ActionLink("Delete", "DeleteMessage", new { id = message.UserMessageId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>